.info {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // margin: 0;
    &__desk {
        padding: 20px 20px;
        margin: 0;
        font-size: 30px;
        
    }
    &__block {
        width: 100%;
        height: 100%;
        background-color: #fff;

    }
    &__img {
        width: 440px;
        height: 440px;
        @media (min-width: 320px) {
            width: 210px;
            height: 210px;
        }
        @media (min-width: 768px) {
            width: 440px;
            height: 440px;
        }
    }
    &__subblock {
        display: flex;
        align-items:center;
        gap: 30px;
        justify-content: center;
        margin: 0;
    }
}